{% load static %}
<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
    </div>
    <div class="img bg-wrap text-center py-4">
        <a href="{% url 'home' %}">
        <div class="user-logo">
            <div class="img" style="background-image: url({% static 'content/images/aws.png' %});"></div>
            <h3>AWS Certifications</h3>
            <h3 class="mt-neg">Study Guide</h3>
        </div>
        </a>
    </div>
    <ul class="list-unstyled components mb-5">
        <li {% if active_tab == "home" %}class="active"{% endif %}>
            <a href="{% url 'home' %}"><span class="fa fa-home mr-3"></span> Home</a>
        </li>
        <li {% if active_tab == "flash-cards" %}class="active"{% endif %}>
            <a href="{% url 'flash-cards' %}"><span class="fa fa-bolt mr-4"></span> Flash Cards</a>
        </li>
        <li {% if active_tab == "quiz-list" %}class="active"{% endif %}>
            <a href="{% url 'quiz-list' %}"><span class="fa fa-question-circle mr-3"></span> Practice Quizzes</a>
        </li>
        <li {% if active_tab == "practice-exam" %}class="active"{% endif %}>
            <a href="{% url 'practice-exam-start' %}"><span class="fa fa-edit mr-3"></span> Practice Exams</a>
        </li>
        <li {% if active_tab == "submit-question" %}class="active"{% endif %}>
            <a href="{% url 'submit-question' %}"><span class="fa fa-paper-plane mr-3"></span> Submit Question</a>
        </li>
        <li {% if active_tab == "resources" %}class="active"{% endif %}>
            <a href="{% url 'resources' %}"><span class="fa fa-book mr-3"></span> Resources</a>
        </li>
        <li {% if active_tab == "support" %}class="active"{% endif %}>
            <a href="{% url 'support' %}"><span class="fa fa-support mr-3"></span> Support</a>
        </li>
        {% if user.is_authenticated %}
            <li>
                <a href="{% url 'logout' %}"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
            </li>
        {% else %}
            <li>
                <a href="{% url 'login' %}"><span class="fa fa-sign-in mr-3"></span> Login / Sign Up</a>
            </li>
        {% endif %}
    </ul>
</nav>
