{% load static %}
<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
    </div>
    <div class="img bg-wrap text-center py-4">
        <div class="user-logo">
            <div class="img" style="background-image: url({% static 'content/images/aws.png' %});"></div>
            <h3>AWS Certification Quizzes</h3>
        </div>
    </div>
    <ul class="list-unstyled components mb-5">
        <li {% if active_tab == "home" %}class="active"{% endif %}>
            <a href="{% url 'home' %}"><span class="fa fa-home mr-3"></span> Home</a>
        </li>
        {% comment %} <li {% if active_tab == "home" %}class="active"{% endif %}>
            <a href="#"><span class="fa fa-download mr-3 notif"><small class="d-flex align-items-center justify-content-center">5</small></span> Download</a>
        </li> {% endcomment %}
        <li {% if active_tab == "services-quiz" %}class="active"{% endif %}>
            <a href="{% url 'services-quiz' %}"><span class="fa fa-question-circle mr-3"></span> AWS Services Quiz</a>
        </li>
        <li {% if active_tab == "multiple-choice-quiz" %}class="active"{% endif %}>
            <a href="{% url 'multiple-choice-quiz' %}"><span class="fa fa-edit mr-3"></span> AWS Multiple Choice Quiz</a>
        </li>
        <li {% if active_tab == "flash-cards" %}class="active"{% endif %}>
            <a href="{% url 'flash-cards' %}"><span class="fa fa-bolt mr-4"></span> Flash Cards</a>
        </li>
        <li {% if active_tab == "support" %}class="active"{% endif %}>
            <a href="{% url 'support' %}"><span class="fa fa-support mr-3"></span> Support</a>
        </li>
        {% if user.is_authenticated %}
            <li>
                <a href="{% url 'logout' %}"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
            </li>
        {% else %}
            <li>
                <a href="{% url 'login' %}"><span class="fa fa-sign-in mr-3"></span> Login / Sign Up</a>
            </li>
        {% endif %}
    </ul>
</nav>
