{% extends "content/base.html" %}
{% load static %}

{% block header %}
    Flash Cards
{% endblock %}

{% block content %}

<div class="col-md-6 col-sm-6 p-0 m-0 wrapper" style="max-width: 500px;">
    {% for service in services %}
        <div class="flip-card">

            {% if page_obj.number == 1 %}
                <div id="overlay">
                    <div class="text-wrapper">
                    <h4 class="text-white">Click button to start</h4>
                    <h6 class="text-white">Hover over flash card to reveal answer</h6>
                    </div>
                </div>
            {% endif %}

            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h4>{{ service.service }}</h4>
                </div>
                <div class="flip-card-back">
                    <h5>{{ service.description }}</h5>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if page_obj.number == 1 %}
        <div class="text-center">
            <button id="btnStart" class="btn btn-outline-success mt-5 mb-4">Click to Start</button>
        </div>
    {% endif %}

    {% if is_paginated %}
        <div class="pagination text-center mt-5">
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
            <a href="{% url 'flash-cards-redirect' %}">
                <button class="btn btn-outline-danger mb-4">Shuffle<i class="fa fa-lg fa-random ml-2"></i></button
            ></a>
        </div>
    {% endif %}

</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% if page_obj.number == 1 %}
        <script>const firstPage=true;</script>
    {% else %}
        <script>const firstPage=false;</script>
    {% endif %}
    <script src="{% static 'content/js/flash-cards.js' %}"></script>

{% endblock %}
