{% extends "content/base.html" %}

{% block title %}
AWS Certifications - Study Guide
{% endblock %}

{% block header %}
    AWS Certifications - Study Guide
{% endblock %}

{% block content %}
    <h5>Introduction</h5>
    <p>
        IT certifications are highly sought after these days with virtually every company relying on the cloud. With AWS being the clear market leader in the cloud, it is a given for any person that wants to take the next step in their career to go for an AWS certification.
    </p>
    <p>
        There are many study guides and practice exams out there but most are all throttled with ads, captchas, and paywalls. Due to frustration while studying for my Cloud Practitioner exam, I decided to create my own study guide to solve this issue. I am now making it available for others to take advantage of now!
    </p>

    <h5>List of AWS Certification Study Materials:</h5>
    <ul>
        <li>AWS Certified Cloud Practitioner Flash Cards</li>
        <li>AWS Certified Cloud Practitioner Practice Quiz</li>
        <li>AWS Certified Cloud Practitioner Practice Exam</li>
    </ul>

    <h5>Coming Soon!</h5>
    <ul>
        <em>
            <li>AWS Certified Developer Flash Cards</li>
            <li>AWS Certified Developer Practice Quiz</li>
            <li>AWS Certified Developer Practice Exam</li>
            <li>AWS Certified Solutions Architect Flash Cards</li>
            <li>AWS Certified Solutions Architect Practice Quiz</li>
            <li>AWS Certified Solutions Architect Practice Exam</li>
        </em>
    </ul>

    <hr class="mt-5 mb-5">
    <div class="col-md-4 col-sm-4 p-0 m-0">
        <h6 class="mb-3">Finding the site helpful? Please consider supporting us!</h6>
        {% include "users/partials/donation_widget.html" %}
    </div>
{% endblock %}