{% extends "content/base.html" %}

{% block header %}
    AWS Certication Quizzes
{% endblock %}

{% block content %}
    <p>Becoming an AWS Certified Cloud Practitioner is a recommended, optional step toward achieving an Associate-level or Specialty certification. There are many study guides and practice exams out there but they are all throttled with paywalls. Due to frustration from this issue when I myself was studying for the certification exam, I decided to make my own study guide and quizzes here. It is available for others to take advantage of now!</p>
    <h5>List of AWS Certification Study Materials:</h5>
    <ul>
        <li>AWS Certified Practitioner Quiz</li>
        <li>AWS Certified Practitioner Flash Cards</li>
    </ul>

    <h5>Coming Soon!</h5>
    <ul>
        <em>
            <li>AWS Certified Developer Quiz</li>
            <li>AWS Certified Developer Flash Cards</li>
            <li>AWS Certified Solutions Architect Associate Quiz</li>
            <li>AWS Certified Solutions Architect Associate Flash Cards</li>
            <li>AWS Certified Solutions Architect Professional Quiz</li>
            <li>AWS Certified Solutions Architect Professional Flash Cards</li>
        </em>
    </ul>
{% endblock %}