{% extends "content/base.html" %}
{% load crispy_forms_tags %}

{% block header %}
    AWS Multiple Choice Quiz
{% endblock %}

{% block content %}
    
    <form action="">
    {% for question in questions %}
    <div id="question_{{ page_obj.start_index|add:forloop.counter0 }}" class="card mb-5">
        <div class="card-header">
            Question #{{ page_obj.start_index|add:forloop.counter0 }}
        </div>
        <div class="card-body">
            <div class="p-2">
                <h6 class="mb-3 text-dark">{{ question.question }}</h6>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ page_obj.start_index|add:forloop.counter0 }}" id="choice1_{{ page_obj.start_index|add:forloop.counter0 }}" value="A">
                    <label class="form-check-label" for="choice1_{{ page_obj.start_index|add:forloop.counter0 }}">
                        <strong>A.</strong> {{ question.choice1 }}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ page_obj.start_index|add:forloop.counter0 }}" id="choice2_{{ page_obj.start_index|add:forloop.counter0 }}" value="B">
                    <label class="form-check-label" for="choice2_{{ page_obj.start_index|add:forloop.counter0 }}">
                        <strong>B.</strong> {{ question.choice2 }}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ page_obj.start_index|add:forloop.counter0 }}" id="choice3_{{ page_obj.start_index|add:forloop.counter0 }}" value="C">
                    <label class="form-check-label" for="choice3_{{ page_obj.start_index|add:forloop.counter0 }}">
                        <strong>C.</strong> {{ question.choice3 }}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ page_obj.start_index|add:forloop.counter0 }}" id="choice4_{{ page_obj.start_index|add:forloop.counter0 }}" value="D">
                    <label class="form-check-label" for="choice4_{{ page_obj.start_index|add:forloop.counter0 }}">
                        <strong>D.</strong> {{ question.choice4 }}
                    </label>
                </div>
            </div>
            <button id="{{ page_obj.start_index|add:forloop.counter0 }}" class="btn btn-primary reveal-answer mt-2">Reveal Answer</button>
            <input type="hidden" class="answer" value="{{ question.answers }}">
        </div>
    </div>
    {% empty %}
        <p class="text-danger">There was an error loading the questions. Please check back later.</p>
    {% endfor %}
    </form>

    {% if is_paginated %}
        <div class="text-center">
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-secondary mb-4 saveAnswers" href="?page=1">First</a>
                <a class="btn btn-outline-secondary mb-4 saveAnswers" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-secondary mb-4 saveAnswers" href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </div>
    {% endif %}
    
    {% if page_obj.number == page_obj.paginator.num_pages and questions|length > 0 %}
        <div class="text-center">
            <a href="{% url 'multiple-choice-quiz-results' %}">
                <button id="submitBtn" class="btn btn-success btn-lg mb-4">Submit Answers</button>
            </a>
        </div>
    {% endif %}

{% endblock %}