{% extends "content/base.html" %}
{% load crispy_forms_tags %}

{% block header %}
    Submit Question
{% endblock %}

{% block content %}

    <div class="alert alert-info">
        The majority of questions on this website are user submitted. We thank you in advance for contributing to this crowd-sourced project and helping others in their certification studies!
    </div>
    <div class="alert alert-warning">
        Please note that an administrator will review the questions before they are live on the site.
    </div>

    <form action="" method="post" class="mb-5">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary mt-2 mb-2">Submit</button>
    </form>
{% endblock %}